service: protectora-uskar-api

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-1
  stage: ${opt:stage, 'prod'}
  timeout: 30
  memorySize: 512
  apiGateway:
    binaryMediaTypes:
      - 'multipart/form-data'
      - 'image/*'
      - 'video/*'

  environment:
    MONGODB_URI: ${env:MONGODB_URI}
    S3_BUCKET_NAME: ${self:custom.uploadsBucket}
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:PutObject
            - s3:GetObject
            - s3:DeleteObject
            - s3:PutObjectAcl
          Resource:
            - arn:aws:s3:::${self:custom.uploadsBucket}/*

custom:
  uploadsBucket: protectora-uskar-uploads-${self:provider.stage}

functions:
  api:
    handler: lambda.handler
    events:
      - http:
          path: /
          method: ANY
          cors: true
      - http:
          path: /{proxy+}
          method: ANY
          cors: true

resources:
  Resources:
    UploadsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.uploadsBucket}
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - '*'
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
              AllowedOrigins:
                - '*'
              MaxAge: 3000

    UploadsBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref UploadsBucket
        PolicyDocument:
          Statement:
            - Effect: Allow
              Principal: '*'
              Action:
                - s3:GetObject
              Resource:
                - !Sub '${UploadsBucket.Arn}/*'

plugins:
  - serverless-offline

package:
  exclude:
    - node_modules/aws-sdk/**
    - .git/**
    - .env
    - uploads/**
